<!DOCTYPE html>
<html>

<head>
    <title>Eat-Da-Burger!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burger.js"></script>

    <link rel="icon" href="/assets/img/burger_picture.png">
    <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/burger_style.css">
</head>

<body>

    <div class="container">
        <br>
        <center>
            <div class="row">
                <img src="/assets/img/burger_picture.png">
            </div>
        </center>

        <center>
            <h1 class="red_font">Eat-Da-Burger!</h1>
        </center>

        <br>

        {{{body}}}

        <br>

    </div>

</body>

</html>